<meta property="og:title" content="<r:page:title />" />
<meta property="og:url" content="<r:page:url />" />
<meta property="og:image" content="<r:select_html_attr css_selector="img" attr="src"><r:article:content name="article-media__first" absolute_urls="true" /></r:select_html_attr>" />
<meta property="og:description" content="<r:page:content name="statler-article__lede" />" />
<meta property="og:site_name" content="<r:site:name />" />

  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=58b5a68b3dfd4300120a0e3e&product=inline-share-buttons"></script>
  <script type="text/javascript">stLight.options({publisher: "61cba3df-db0b-40a9-aaa9-ac2edd0fee66", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
