<div class="statler-search">

  <div class="search-left">
      <div class="search-left-inner">
      <h1><r:editable_region name="statler-left-title"/></h1>
      <p><r:editable_region name="statler-left-desc"/></p>
      <r:page:if_has_content_for region="left-side__action-item-url">
        <a href="<r:page:content name="left-side__action-item-url" />" class="button button--wvu-blue-fill event-button <r:edit_mode_only>button--edit-mode</r:edit_mode_only>"><r:page:content name="left-side__action-item-text" /></a>
      </r:page:if_has_content_for>
      <r:edit_mode_only>

        <p class="button"><r:editable_region name="left-side__action-item-text" type="simple">Action Item Text</r:editable_region></p>
        <p><r:editable_region name="left-side__action-item-url" type="simple"></r:editable_region></p>
      </r:edit_mode_only>
      </div>
  </div>



    <div class="search-right" style="background-image: url(<r:files:each labels="alumni" limit="1" types="image" random="true"><r:file:image_url size="1780x580" /></r:files:each>);">

          <h1><r:editable_region name="statler-title-right"/></h1>
          <p><r:editable_region name="statler-desc-right"/></p>
          <r:page:if_has_content_for region="right-side__action-item-url">
            <a href="<r:page:content name="right-side__action-item-url" />" class="button button--white event-button <r:edit_mode_only>button--edit-mode</r:edit_mode_only>"><r:page:content name="right-side__action-item-text" /></a>
          </r:page:if_has_content_for>
          <r:edit_mode_only>

            <p class="button"><r:editable_region name="right-side__action-item-text" type="simple">Action Item Text</r:editable_region></p>
            <p><r:editable_region name="right-side__action-item-url" type="simple"></r:editable_region></p>
          </r:edit_mode_only>

    </div>

</div>
