<r:set_var name="bgurl">
  <r:page:slug />-hero-background
</r:set_var>

<r:if v1="{$backpage_main}" v2="false" op="!=">

  <div class="wvu-container">

    <main id="maincontent" class="<r:page:data name="bgcolor_backpage" /> background main <r:if v1="{$backpage_has_sidebar}" v2="false" op="=">main--wide</r:if> <r:edit_mode_only>main--edit-mode</r:edit_mode_only>">

    <h2><r:editable_region name="profiles__individual_country">
    Name of Country Visited
    </r:editable_region></h2>

    <p class="statler-article__lede"><r:editable_region name="profiles__individual_lede">
    Lede Text
    </r:editable_region>
    </p>

    <p class="statler-article__copy">
      <r:editable_region name="profiles__individual_description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </r:editable_region>
    </p>


    </main>
<aside class="wvu-sidebar wvu-sidebar--<r:site:id />" role="complementary">
    <div class="wvu-profile__photo international-profile_photo">
    <r:editable_region name="profiles__photo">
    </r:editable_region>
    <r:edit_mode_only>
      <div class="wvu-instructions">
        <p><strong>Photo should be 400 X 400 Square to show up properly on international programs landingpage.</p>
      </div>
    </r:edit_mode_only>
    </div>
    <r:page:if_has_content_for region="wvu-sidebar-content" always_show_in_edit_mode="true">

      <r:edit_mode_only>
        <h3>Sidebar Content:</h3>
      </r:edit_mode_only>

      <div class="wvu-sub-nav">
        <r:editable_region name="wvu-sidebar-content" />
      </div>

    </r:page:if_has_content_for>

    <r:if v1="{$backpage_has_subnav}" v2="false" op="!=">
      <r:edit_mode_only>
        <h3><r:editable_region name="wvu-sub-nav__label" type="simple">Sub-Nav</r:editable_region></h3>
      </r:edit_mode_only>
      <div class="wvu-sub-nav">
        <r:ancestor_menu start_depth="2" max_depth="3" ul_class="nav-secondary" active_class="nav-secondary--current-page" open_class="nav-secondary--open" />
      </div> <!-- /.wvu-sub-nav -->
    </r:if>

    <r:page:if_has_content_for region="wvu-sidebar-content-2" always_show_in_edit_mode="true">

      <r:edit_mode_only>
        <h3>More Sidebar Content:</h3>
      </r:edit_mode_only>

      <r:editable_region name="wvu-sidebar-content-2" />

    </r:page:if_has_content_for>

  </aside>

  </div> <!-- /.wvu-container -->

  <r:edit_mode_only>
    <div class="wvu-instructions">
      <p><strong>Instructions for Backpage:</strong> You can put whatever you want in the main content region. The sidebar and sub-nav are optional. Just set either the <code>backpage_has_sidebar</code> or <code>backpage_has_subnav</code> attributes to <code>false</code> in Page Properties > Data.</p>
    </div>
  </r:edit_mode_only>

</r:if>
