<div class="wvu-section u-full-width <r:page:data name="bgcolor_statler_news" /> background">
  <div class="wvu-container">


      <h1>In the News</h1>

      <div class="statler-news-grid">

        <r:xslt_transform url="{$department_news_xml_url}">
        <?xml version="1.0" encoding="UTF-8"?>
        <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
        <xsl:output method="html"/>
        <xsl:template match="/">
        <ul class="statler-dept-article">
          <xsl:apply-templates select="//item[position() &lt; 4]"/>
          <li>
            <a class="button button--pms-300-c button--big button--pms-286-c-fill" href="<r:site:data name="department_news_url" />">View More News</a>
          </li>
        </ul>
        </xsl:template>

        <xsl:template match="item">
        <li>
          <a>
            <xsl:attribute name="href">
              <xsl:value-of select="link"/>
            </xsl:attribute>
            <img>
              <xsl:attribute name="src">
                <xsl:value-of select="image"/>
              </xsl:attribute>
              <xsl:attribute name="alt">
                <xsl:value-of select="image_alt"/>
              </xsl:attribute>
            </img>
          </a>
          <h2 class="statler-sub-story">
          <a>
            <xsl:attribute name="href">
              <xsl:value-of select="link"/>
            </xsl:attribute>
            <xsl:value-of select="title"/>
          </a>
          </h2>

        </li>

        </xsl:template>
        </xsl:stylesheet>
        </r:xslt_transform>




      </div><!--end news-grid-->

  </div><!-- end wvu-container -->
</div>
