<div class="wvu-section padded u-full-width <r:site:data name="bgcolor_statler_news" /> background">
  <div class="wvu-container">


      <h1>In the Fall 2018 Issue</h1>


<div class="magazine-container">
      <div class="statler-feature-grid">
        <ul class="statler-sub-article">
          <r:blog id="68339"> <r:comment><!-- Change to your blog's page ID --></r:comment>

            <r:articles:each tags="fall-2018,dean" tags_op="all" > <r:comment><!-- Change the tag(s) to what you want to feature. Comma separate multiple tags. --></r:comment>
                <li>
                  <div class="statler-sub-story" role="article">
                        <div class="statler-sub-article__body">
<div class="dean-head">
<p class="article-lg-head">Dean's <strong>Message</strong></p>
</div>
<div>
<a href="<r:article:path />">
<img src="<r:article:content name="article__hero-url" />">
</a>
</div>
<div class="article-foot-bg">
<p class="article-foot"><a class="article-foot" href="<r:article:path />"><r:article:name /></a></p>
</div>



                        </div> <!-- /.statler-sub-article__body -->

                    </div><!-- statler-sub-story -->

                </li>

            </r:articles:each>
            <r:articles:each tags="fall-2018,spotlight" tags_op="all" > <r:comment><!-- Change the tag(s) to what you want to feature. Comma separate multiple tags. --></r:comment>
                <li>
                  <div class="statler-sub-story" role="article">
                        <div class="statler-sub-article__body">
                          <div class="spotlight-head">
                          <p class="article-lg-head">In the <strong>Spotlight</strong></p>
                          </div>
                          <div>
                          <a href="<r:article:path />">
                          <img src="<r:article:content name="article__hero-url" />">
                          </a>
                          </div>
                          <div class="article-foot-bg">
                          <p class="article-foot"><a class="article-foot" href="<r:article:path />"><r:article:name /></a></p>
                          </div>
                        </div> <!-- /.statler-sub-article__body -->

                    </div><!-- statler-sub-story -->

                </li>

            </r:articles:each>

          </r:blog>
        </ul><!--/.statler-sub-article-->
      </div><!--end news-grid__solo-->
</div>






      <div class="magazine-container">
        <div class="statler-360-grid">
            <r:blog id="68339"> <r:comment><!-- Change to your blog's page ID --></r:comment>
            <ul class="statler-sub-article">
              <li>
                <div class="statler-sub-story" role="article">
                <div class="statler-sub-article__body">
                  <div class="rnd-head">
                  <p class="article-lg-head"><strong>Research </strong>and Development</p>
                  </div>
                  <ul class="article"><div class="clearfix"></div>
            <r:articles:each tags="fall-2018,rnd" tags_op="all" > <r:comment><!-- Change the tag(s) to what you want to feature. Comma separate multiple tags. --></r:comment>

                <li class="article">
                  <p class="article-list"><a href="<r:article:path />"><r:article:name /></a></p>
                </li>
            </r:articles:each>
          </ul>
              </div>
            </div>
          </li>

          <li>
            <div class="statler-sub-story" role="article">
            <div class="statler-sub-article__body">
              <div class="eng-head">
              <p class="article-lg-head">Engineering <strong>360&#176;</strong></p>
              </div>
              <ul class="article"><div class="clearfix"></div>
        <r:articles:each tags="fall-2018,360" tags_op="all" > <r:comment><!-- Change the tag(s) to what you want to feature. Comma separate multiple tags. --></r:comment>

            <li class="article">
              <p class="article-list"><a href="<r:article:path />"><r:article:name /></a></p>
            </li>
        </r:articles:each>
      </ul>
          </div>
        </div>
      </li>

      <li>
        <div class="statler-sub-story" role="article">
        <div class="statler-sub-article__body">
          <div class="support-head">
          <p class="article-lg-head">In <strong>Support</strong></p>
          </div>
          <ul class="article"><div class="clearfix"></div>
    <r:articles:each tags="fall-2018,support" tags_op="all" > <r:comment><!-- Change the tag(s) to what you want to feature. Comma separate multiple tags. --></r:comment>

        <li class="article">
          <p class="article-list"><a href="<r:article:path />"><r:article:name /></a></p>
        </li>
    </r:articles:each>
  </ul>
      </div>
    </div>
  </li>



                    </r:blog>
                  </ul><!--/.statler-sub-article-->
                </div><!--end news-grid__more-->
            </div><!-- end wvu-container -->



      </div><!-- end wvu-container -->
    </div><!-- end wvu-section -->
