<style>
  .main-fact {
        border-radius: 50%;
        background: #EAAA00;
        color: #002855;
        width: 220px;
        height: 220px;
        position: absolute;
        margin-left: -110px;
        text-align: center;
        padding: 0 10px;
    }

  .main-fact {
          width: 250px;
          height: 250px;
          margin-left: -125px;
      }

      .main-fact .number {
    font-size: 70px;
    line-height: 70px;
    margin-top: 60px;
        display: block;
    font-weight: 800;
}
.main-fact .fact {
    font-size: 30px;
}
      .main-fact-center {
    top: 20px;
    left: 50%;
    background: #F9F9F9;
}
        .main-fact-left {
                  top: 70px;
                  left: 20%;
              }
            .main-fact-right {
                  top: 70px;
                  left: 80%;
              }
              #main-facts {
    min-height: 400px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    display:inline-block;
    width: 66.66666667%;
}

.more-facts {
    position: absolute;
    top: 310px;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

.fact-btn:before {
    content: "";
    width: 55px;
    right: -53px;
    top: 0;
    bottom: 0;
    position: absolute;
    background-color: #F9F9F9;
    border-left: 5px solid rgba(0,0,0,.3);
}
    .fact-btn:after{
        content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 55px;
    height: 120%;
    right: -53px;
    top: 50%;
    margin-top: -27px;
    background: url(//www.engr.washington.edu/sites/all/themes/boundless/images/uw-sprite.svg?e69c3df…) no-repeat -36px -475px transparent;
    }
                .fact-btn-default {
                color: #333;
                background-color: #fff;
                border-color: #ccc;
            }
              .fact-btn {
                    border-radius: 0;
    text-transform: uppercase;
    background-color: #e8e3d3;
    font-family: Encode Sans Compressed,sans-serif;
    color: #444;
    display: inline-block;
    position: relative;
    background-image: none!important;
    border: none;
    margin-right: 55px;
    z-index: 0;

    margin-bottom: 0;
    font-weight: 800;
    text-align: center;
    vertical-align: middle;

    cursor: pointer;

    white-space: nowrap;
    padding: 9px 17px;
    font-size: 17px;
    line-height: 1.52941177;

            }

          .fact-block .number {
                font-size: 60px;
                line-height: 60px;
                float: left;
                margin-top: 5px;
                text-align: center;
                width: 30%;
            }

            .fact {
            font-size: 25px;
        }
              .facts {
                  background: url(/images/stripes_blue.png);
              }
                #fact-blocks {
                  position: relative;
                  min-height: 1px;
                  padding-left: 15px;
                  padding-right: 15px;
                  float: left;
                  width: 33.33333333%;
              }
               .fact-block {
                  margin-left: -15px;
                  margin-right: -15px;
                  border-right: 1px solid #EAAA00;
                  border-bottom: 1px solid #EAAA00;
                  background: #F9F9F9;
                  color: #002855;
                  margin: 20px 0;
                  padding: 10px;
                  font-weight: 800;
              }
              .facts-row{
                max-width: 75em;
                margin:auto;
              }
</style>





<div class="facts">
  <div class="container">
    <div class="facts-row">
      <div id="fact-blocks">
        <div class="fact-block">
          <r:editable_region name="block1"  >
          <span class="number">#1</span>
          <span class="fact">source of UW startups (over half)</span>
          </r:editable_region>
        </div>
        <div class="fact-block">
          <r:editable_region name="block2"  >
          <span class="number">117</span>
          <span class="fact">years of engineering innovation</span>
          </r:editable_region>
        </div>
        <div class="fact-block">
          <r:editable_region name="block3"  >
          <span class="number">11.5</span>
          <span class="fact smaller">million dollars awarded in student scholarships</span>
          </r:editable_region>
        </div>
      </div>
      <div id="main-facts">
        <div class="main-fact main-fact-center">
          <r:editable_region name="circle1"  >
          <span class="number">24%</span>
          <span class="fact">female faculty members</span>
          </r:editable_region>
        </div>
        <div class="main-fact main-fact-left">
          <r:editable_region name="circle2"  >
          <span class="number">8134</span>
          <span class="fact">students enrolled</span>
          </r:editable_region>
        </div>
        <div class="main-fact main-fact-right">
          <r:editable_region name="circle3"  >
          <span class="number smaller">$153M</span>
          <span class="fact smaller">in externally funded research</span>
          </r:editable_region>
        </div>
        <div class="more-facts">
          <r:editable_region name="fact-button"  >
          <a class="button button--wvu-gold-fill" href="/about/mission">Learn more</a></r:editable_region>
        </div>
      </div>
    </div>
  </div>
</div>
