<r:if v1="{$backpage_main}" v2="false" op="!=">

  <div class="wvu-container">

    <main id="wvu-main-content" class="<r:page:data name="bgcolor_backpage" /> background main <r:if v1="{$backpage_has_sidebar}" v2="false" op="=">main--wide</r:if> <r:edit_mode_only>main--edit-mode</r:edit_mode_only>">



      <ul class="jobs">
        <r:children:each limit="{$limit}" labels="job" by="name" order="ASC" with_template="profile individual">
          <li>
            <h2 class="job-title"><a href="<r:page:url />"><r:page:name /></a></h2>
          </li>

        </r:children:each>
      </ul>

      <r:xslt_transform url="{$jobs_rss_url}" xslt_file="/util/rss_1.xslt" />



    </main>



  </div> <!-- /.wvu-container -->


</r:if>
