<main class="catalog-tabs">
  <div id="wvu-main-content" class="catalog-tabs-container wvu-container">
      <div data-tab-component="">
        <div class="tab-list-container">
          <ul class="tab-list" role="tablist">
            <li class="tab-item" role="presentation" data-tab-active="">
              <a class="tab-link" href="#section-0" role="tab" id="tab0" aria-selected="true"><r:editable_region name="tab-0-name"  /></a>
            </li>
            <li class="tab-item" role="presentation">
              <a class="tab-link" href="#section-1" role="tab" id="tab1" tabindex="-1"><r:editable_region name="tab-1-name"  /></a>
            </li>
            <li class="tab-item" role="presentation">
              <a class="tab-link" href="#section-2" role="tab" id="tab2" tabindex="-1"><r:editable_region name="tab-2-name"  /></a>
            </li>
            <li class="tab-item" role="presentation">
              <a class="tab-link" href="#section-3" role="tab" id="tab3" tabindex="-1"><r:editable_region name="tab-3-name"  /></a>
            </li>
            <li class="tab-item" role="presentation">
              <a class="tab-link" href="#section-4" role="tab" id="tab4" tabindex="-1"><r:editable_region name="tab-4-name"  /></a>
            </li>
            <li class="tab-item" role="presentation">
              <a class="tab-link" href="#section-5" role="tab" id="tab5" tabindex="-1"><r:editable_region name="tab-5-name"  /></a>
            </li>
            <li class="tab-item" role="presentation">
              <a class="tab-link" href="#section-6" role="tab" id="tab5" tabindex="-1"><r:editable_region name="tab-6-name"  /></a>
            </li>
            <li class="tab-item" role="presentation">
              <a class="tab-link" href="#section-7" role="tab" id="tab5" tabindex="-1"><r:editable_region name="tab-7-name"  /></a>
            </li>
            <li class="tab-item" role="presentation">
              <a class="tab-link" href="#section-8" role="tab" id="tab5" tabindex="-1"><r:editable_region name="tab-8-name"  /></a>
            </li>
            <li class="tab-item" role="presentation">
              <a class="tab-link" href="#section-9" role="tab" id="tab5" tabindex="-1"><r:editable_region name="tab-9-name"  /></a>
            </li>
          </ul>
        </div> <!-- /.tab-list-container -->
        <div class="main">
          <section id="section-0" class="tab-panel" role="tabpanel" aria-labelledby="tab0" tabindex="-1">
            <h2><r:editable_region name="tab0-header"  /></h2>
            <r:editable_region name="tab0-content"  />
            </section>
          <section id="section-1" class="tab-panel" role="tabpanel" aria-labelledby="tab1" tabindex="-1" hidden="">
            <h2><r:editable_region name="tab1-header"  /></h2>
            <r:editable_region name="tab1-content"  />
          </section>
          <section id="section-2" class="tab-panel" role="tabpanel" aria-labelledby="tab2" tabindex="-1" hidden="">
            <h2><r:editable_region name="tab2-header"  /></h2>
            <r:editable_region name="tab2-content"  />
            </section>
          <section id="section-3" class="tab-panel" role="tabpanel" aria-labelledby="tab3" tabindex="-1" hidden="">
            <h2><r:editable_region name="tab3-header"  /></h2>
            <r:editable_region name="tab3-content"  />
          </section>
          <section id="section-4" class="tab-panel" role="tabpanel" aria-labelledby="tab4" tabindex="-1" hidden="">
            <h2><r:editable_region name="tab4-header"  /></h2>
            <r:editable_region name="tab4-content"  />
          </section>
          <section id="section-5" class="tab-panel" role="tabpanel" aria-labelledby="tab5" tabindex="-1" hidden="">
            <h2><r:editable_region name="tab5-header"  /></h2>
            <r:editable_region name="tab5-content"  />
          </section>
          <section id="section-6" class="tab-panel" role="tabpanel" aria-labelledby="tab6" tabindex="-1" hidden="">
            <h2><r:editable_region name="tab6-header"  /></h2>
            <r:editable_region name="tab6-content"  />
          </section>
          <section id="section-7" class="tab-panel" role="tabpanel" aria-labelledby="tab7" tabindex="-1" hidden="">
            <h2><r:editable_region name="tab7-header"  /></h2>
            <r:editable_region name="tab7-content"  />
          </section>
          <section id="section-8" class="tab-panel" role="tabpanel" aria-labelledby="tab8" tabindex="-1" hidden="">
            <h2><r:editable_region name="tab8-header"  /></h2>
            <r:editable_region name="tab8-content"  />
          </section>
          <section id="section-9" class="tab-panel" role="tabpanel" aria-labelledby="tab9" tabindex="-1" hidden="">
            <h2><r:editable_region name="tab9-header"  /></h2>
            <r:editable_region name="tab9-content"  />
          </section>
        </div> <!-- /.main -->
      </main>
