<main class="catalog-tabs">
  <div id="wvu-main-content" class="catalog-tabs-container wvu-container">
    <div data-tab-component>
      <div class="tab-list-container">
        <ul class="tab-list">
          <li class="tab-item">
              <a class="tab-link" href="#section-0" role="tab" id="tab0" aria-selected="true"><r:page:content name="tab-0-name" /></a>
            </li>
            <li class="tab-item">
              <a class="tab-link" href="#section-1">Faculty</a>
            </li>
            <li class="tab-item">
              <a class="tab-link" href="#section-2">Admissions</a>
            </li>
            <li class="tab-item">
              <a class="tab-link" href="#section-3">Major</a>
            </li>
            <li class="tab-item">
              <a class="tab-link" href="#section-4">Learning Goals</a>
            </li>
            <li class="tab-item">
              <a class="tab-link" href="#section-5">Courses</a>
            </li>
          </ul>
        </div> <!-- /.tab-list-container -->
        <div class="main">
          <section id="section-0" class="tab-panel">
                    <h1>
              <r:edit_mode_only><br>Enter tab name</r:edit_mode_only>
              <r:editable_region name="tab-0-name" />
            </h1>

            <h2>
              <r:edit_mode_only><br>Enter tab heading</r:edit_mode_only>
              <r:editable_region name="tab-0-heading" />
            </h2>


              <p>
                <r:edit_mode_only>Enter the this tab's copy</r:edit_mode_only>
                <r:editable_region name="tab-0-copy" />
              </p>

            </section>
            <section id="section-1" class="tab-panel">
              <h3>Buttons and lists</h3>
              <p>How about a button? We have <strong>a ton</strong> of button styles:</p>
              <p><a href="https://supertheme.sandbox.wvu.edu/content/buttons" class="button">View all button styles</a></p>
              <p>You can also have small buttons:</p>
              <p><a href="https://supertheme.sandbox.wvu.edu/content/buttons" class="button button--wvu-gold-fill button--small">Small button</a></p>
              <p>And large buttons:</p>
              <p><a href="https://supertheme.sandbox.wvu.edu/content/buttons" class="button button--big button--pms-300-c-fill">Big button</a></p>
              <p>The following is an unordered list:</p>
              <ul>
                 <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                 <li>Aliquam tincidunt mauris eu risus.</li>
                 <li>Leverage agile frameworks to provide a robust synopsis for high level overviews.</li>
                 <li>Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</li>
              </ul>
            </section>
            <section id="section-2" class="tab-panel">
              <p class="wvu-lede">If you want to have some lede text, use the class <code>.wvu-lede</code>.</p>
              <h2>Have questions?</h2>
              <p>If you have any questions about this template, please contact Adam Johnson at <a href="mailto:adam.johnson@mail.wvu.edu">adam.johnson@mail.wvu.edu</a>. We're happy to provide help and direction if you need it! This template is based off of <a href="https://supertheme.sandbox.wvu.edu">Super Theme</a>, WVU's branded template for <a href="https://cleanslatecms.wvu.edu">CleanSlateCMS</a></p>
            </section>
            <section id="section-3" class="tab-panel">
              <h2>Here are tables!</h2>
              <p>This table has a number of enhancement options you can apply to it. To do so, add the <code>.wvu-table</code> class to the table. This is your base table class.</p>
              <p>To make the table striped, add <code>.wvu-table-striped</code> to the table element. To add hoverable rows, add <code>.wvu-table-hover</code> to the table element. You can see these classes in action in the table below:</p>
              <div class="wvu-table-responsive">
                <table class="wvu-table wvu-table-striped wvu-table-hover">
                  <caption>
                    This is a table caption. Use it to describe what's in the table below. If you want it to look like a heading, consider adding a <code>wvu-hX</code> class (eg: <code>wvu-h2</code>). Current Tax Rates. Exhibit 16: Comparative analysis of tax rates in West Virginia and neighboring states
                    <sup>
                      <a href="#wvu-main-content">[51]</a>
                    </sup>
                  </caption>
                  <thead>
                    <tr>
                      <th scope="col">State</th>
                      <th scope="col">Corporate</th>
                      <th scope="col">Real Property</th>
                      <th scope="col">Tangible Personal Property</th>
                      <th scope="col">Standard New Employer Unemployment</th>
                      <th scope="col">Supplemental Wage/Bonus Rate</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <th scope="row">West Virginia</th>
                      <td>6.5%</td>
                      <td>1.6%</td>
                      <td>1.6%</td>
                      <td>2.7%</td>
                      <td>4.8%</td>
                    </tr>
                    <tr>
                      <th scope="row">Pennsylvania</th>
                      <td>9.9%</td>
                      <td>1.9%</td>
                      <td>0%</td>
                      <td>3.7%</td>
                      <td>3.1%</td>
                    </tr>
                    <tr>
                      <th scope="row">Ohio</th>
                      <td>0%</td>
                      <td>1.6%</td>
                      <td>0%</td>
                      <td>2.7%</td>
                      <td>3.5%</td>
                    </tr>
                    <tr>
                      <th scope="row">Virginia</th>
                      <td>6.0%</td>
                      <td>1.0%</td>
                      <td>4.2%</td>
                      <td>2.6%</td>
                      <td>5.8%</td>
                    </tr>
                    <tr>
                      <th scope="row">Maryland</th>
                      <td>8.5%</td>
                      <td>2.7%</td>
                      <td>2.3%</td>
                      <td>2.6%</td>
                      <td>5.8%</td>
                    </tr>
                    <tr>
                      <th scope="row">Kentucky</th>
                      <td>6.0%</td>
                      <td>1.4%</td>
                      <td>0.6%</td>
                      <td>2.7%</td>
                      <td>0%</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th scope="row">Table footer (tfoot) Total:</th>
                      <td>X%</td>
                      <td>X%</td>
                      <td>X%</td>
                      <td>X%</td>
                      <td>X%</td>
                    </tr>
                  </tfoot>
                </table>
              </div> <!-- /.wvu-table-responsive -->
              <p>Have a lot of data you want to display? Consider adding <code>.wvu-table-small</code> to the table element to decrease the padding of <code>td</code> and <code>th</code> elements.</p>
              <div class="wvu-table-responsive">
                <table class="wvu-table wvu-table-small">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">First</th>
                      <th scope="col">Last</th>
                      <th scope="col">Handle</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>John</td>
                      <td>Smith</td>
                      <td>@JohnSmith</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Ray</td>
                      <td>Horton</td>
                      <td>@Rayhtn</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td colspan="2">Larry the Bird</td>
                      <td>@twitter</td>
                    </tr>
                  </tbody>
                </table>
              </div> <!-- /.wvu-table-responsive -->
            </section>
            <section id="section-4" class="tab-panel">
              <h2>How to use heading classes</h2>
              <p>Want to make something look like a heading? Or perhaps you want a certain heading (like an <code>h2</code>, for example) to look more like an <code>h4</code>? Use the following classes to change the visual appearance to look like headings:</p>
              <ol>
                <li><code>.wvu-h1</code></li>
                <li><code>.wvu-h2</code></li>
                <li><code>.wvu-h3</code></li>
                <li><code>.wvu-h4</code></li>
                <li><code>.wvu-h5</code></li>
                <li><code>.wvu-h6</code></li>
              </ol>
              <p class="wvu-text--center">Want centered text? Use <code>.wvu-text--center</code>.</p>
            </section>
            <section id="section-5" class="tab-panel">
              <h2>Tab Panel 6</h2>
              <blockquote>Look ma! A blockquote. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</blockquote>
            </section>
          </div> <!-- /.main -->

        </div> <!-- /[data-tab-component] -->
        </div> <!-- /.wvu-container -->
    </main> <!-- /.catalog-tabs -->
