<div class="wvu-footer wvu-footer--<r:site:id /> <r:site:data name="bgcolor_statler_footer" /> background">
  <div class="wvu-footer__container">
    <div float="none" class="wvu-contact <r:var name="wvu-contact__classes" />">
      <r:editable_region name="statlercontact" scope="site" />
    </div> <!-- /.wvu-contact -->
    <div float="left" class="wvu-contact <r:var name="wvu-contact__classes" />">
      <r:editable_region name="give" scope="site" />
    </div> <!-- /.wvu-contact -->
  </div>
</div>
