<div class="wvu-section padded u-full-width <r:site:data name="bgcolor_statler_news" /> background">
  <div class="wvu-container">


      <h1>In this Issue</h1>







      <div class="wvu-container department-features">
        <r:blog id="67616"> <r:comment><!-- Change to your blog's page ID --></r:comment>
          <r:articles:each tags="in-memoriam" tags_match="any" > <r:comment><!-- Change the tag(s) to what you want to feature. Comma separate multiple tags. --></r:comment>
            <div class="department department--memoriam">
              <h3><r:page:first_non_blank_attr names="alternate_name,name" /></h3>
                <p><r:page:content name="article-copy" /></p>
                        </div>
          </r:articles:each>
        </r:blog>
    </div><!-- end wvu-container -->


      </div><!-- end wvu-container -->
    </div><!-- end wvu-section -->
