<div class="wvu-section u-full-width <r:page:data name="bgcolor_statler_news" /> background">
  <div class="wvu-container">


      <h1>In the News</h1>

      <div class="statler-news-grid">

<r:set_var name="department_news_rss_url"><r:site:data name="department_news_rss_url" /></r:set_var>

        <div class="statler-news-grid__flat">
            <ul class="statler-sub-article">
              <r:blog id="8581"> <r:comment><!-- Change to your blog's page ID --></r:comment>
                <r:set_var name="tags"><r:page:slug />,feature</r:set_var>
                <r:articles:each tags="{$tags}" limit="4"> <r:comment><!-- Change the tag(s) to what you want to feature. Comma separate multiple tags. --></r:comment>
<r:xslt_transform url="{$department_news_rss_url}" xslt_file="/util/rss_1.xslt" />

                </r:articles:each>
                <li>
                  <a class="button button--pms-300-c button--big button--pms-286-c-fill" href="http://www.statler.wvu.edu/news">View All News</a>
                </li>
              </r:blog>
            </ul><!--/.statler-sub-article-->
          </div><!--end news-grid__more-->




      </div><!--end news-grid-->

  </div><!-- end wvu-container -->
</div>
