
<div class="wvu-footer wvu-footer--<r:site:id /> <r:site:data name="bgcolor_statler_footer" /> background">
  <div class="wvu-footer__container">
    <div class="statler-contact <r:var name="statler-contact__classes" />">
      <r:editable_region name="statlercontact" scope="site" />
    </div> <!-- /.wvu-contact -->
    <div class="statler-links <r:var name="statler-links__classes" />">
      <r:editable_region name="links" scope="site" />
    </div> <!-- /.wvu-contact -->
    <div class="statler-give <r:var name="statler-give__classes" />">
      <r:editable_region name="give" scope="site" />
    </div> <!-- /.wvu-contact -->
  </div>
</div>
