<div class="wvu-container">
  <div class="image-bar-background" style="background-image: url(<r:page:content name="statler__image-bar-background-label"><r:file:image_url size="1780x580" /></r:page:content>);">
	<div class="image-bar-background__container">
  		<a href="<r:page:content name="statler__image-bar-url" />">
      <h1><r:editable_region name="statler__image-bar" >Title</r:editable_region></h1>
    </a>

    <r:edit_mode_only>
      <p><r:editable_region name="statler__image-bar-background-label" type="simple">Background Image URL</r:editable_region></p>
      <p><r:editable_region name="statler__image-bar-url" type="simple">URL for Title Link</r:editable_region></p>
    </r:edit_mode_only>
	</div><!-- End image-bar-background -->
</div><!-- End image-bar-background__container -->
</div><!-- End wvu-container -->
