<div class="wvu-section u-full-width <r:page:data name="bgcolor_statler_news" /> background">
  <div class="wvu-container">


      <h1>In the News</h1>

      <div class="statler-news-grid">


        <div class="statler-news-grid__flat">
            <ul class="statler-sub-article">
              <r:blog id="8581"> <r:comment><!-- Change to your blog's page ID --></r:comment>
                <r:set_var name="tags"><r:page:slug />,feature</r:set_var>
                <r:articles:each tags="{$tags}" limit="9"> <r:comment><!-- Change the tag(s) to what you want to feature. Comma separate multiple tags. --></r:comment>
                    <li>
                      <div class="statler-sub-story" role="article">
                            <div class="statler-sub-article__body">

                                  <a href="<r:article:path />">
                                    <r:article:content name="article-media__first" />
                                  </a>

                              <h2 class="statler-sub-story"><a href="<r:article:path />"><r:article:name /></a></h2>



                            </div> <!-- /.statler-sub-article__body -->

                        </div><!-- statler-sub-story -->

                    </li>

                </r:articles:each>
                <li>
                  <a class="button button--pms-300-c button--big button--pms-286-c-fill" href="http://www.statler.wvu.edu/news?tags=<r:page:slug />">View All News</a>
                </li>
              </r:blog>
            </ul><!--/.statler-sub-article-->
          </div><!--end news-grid__more-->




      </div><!--end news-grid-->

  </div><!-- end wvu-container -->
</div>
