
<div class="statler-lg-feature" style="background-image: url(<r:page:content name="statler-lg-feature-right__background-label"><r:file:image_url  /></r:page:content>);
  background-color: <r:page:content name="statler-lg-feature-right__background-color" />;">
	<div class="statler-lg-feature-right__container">
		<div class="statler-lg-feature__copy">
      <r:editable_region name="statler-lg-feature-right__header">
        <h2>Lg Feature Header</h2>
        <p>
          Here is where you explain what is going on.</p>
          <a class="button button--small button--wvu-blue" href="#" target="_blank">Here's a button</a>
      </r:editable_region>
      <r:edit_mode_only>
        <p><r:editable_region name="statler-lg-feature-right__background-label" type="simple">Background Image URL</r:editable_region></p>
        <p><r:editable_region name="statler-lg-feature-right__background-color" type="simple">Background Color</r:editable_region></p>
      </r:edit_mode_only>
			</div>
	</div>
</div>
