<div class="wvu-section u-full-width white background">
  <div class="wvu-container">

    <div class="statler-news-grid">
      <h1>In the News</h1>
      <div class="statler-news-grid__solo">
    <ul class="statler-sub-article">
      <r:blog id="46184"> <r:comment><!-- Change to your blog's page ID --></r:comment>
        <r:articles:each tags="top" limit="1"> <r:comment><!-- Change the tag(s) to what you want to feature. Comma separate multiple tags. --></r:comment>
            <li>
              <div class="statler-sub-story" role="article">
                    <div class="statler-sub-article__body">

                          <a href="<r:article:path />">
                            <r:article:content name="article-media__first" />
                          </a>

                      <h2 class="statler-sub-story wvu-h3"><a href="<r:article:path />"><r:article:name /></a></h2>



            </div> <!-- /.wvu-article__body -->

            </div>

          </li>
        </article><!-- /.wvu-article -->
        </r:articles:each>
      </r:blog>
    </ul><!--/.statler-sub-article-->
  </div><!--end news-grid__solo-->

<div class="statler-news-grid__more"
    <ul class="statler-sub-article">
      <r:blog id="46184"> <r:comment><!-- Change to your blog's page ID --></r:comment>
        <r:articles:each tags="featured" limit="3"> <r:comment><!-- Change the tag(s) to what you want to feature. Comma separate multiple tags. --></r:comment>
            <li>
              <div class="statler-sub-story" role="article">
                    <div class="statler-sub-article__body">

                          <a href="<r:article:path />">
                            <r:article:content name="article-media__first" />
                          </a>

                      <h2 class="statler-sub-story"><a href="<r:article:path />"><r:article:name /></a></h2>

                      <p><r:article:content name="article-lede" /></p>

            </div> <!-- /.wvu-article__body -->

            </div>

          </li>
        </article><!-- /.wvu-article -->
        </r:articles:each>
      </r:blog>
    </ul><!--/.statler-sub-article-->
  </div><!--end news-grid__more-->

  <div class="statler-news-grid__brief"
      <ul class="statler-sub-article">
        <r:blog id="46184"> <r:comment><!-- Change to your blog's page ID --></r:comment>
          <r:articles:each tags="brief" limit="6"> <r:comment><!-- Change the tag(s) to what you want to feature. Comma separate multiple tags. --></r:comment>
              <li>
                <div class="statler-sub-story" role="article">
                      <div class="statler-sub-article__body">
                        <h2 class="statler-sub-story"><a href="<r:article:path />"><r:article:name /></a></h2>



              </div> <!-- /.wvu-article__body -->

              </div>

            </li>
          </article><!-- /.wvu-article -->
          </r:articles:each>
        </r:blog>
      </ul><!--/.statler-sub-article-->
    </div><!--end news-grid__brief-->


  </div><!--end news-grid-->
  </div>
</div>
