
<section class="double-section">

<div class="double-section-top">
  <div class="wvu-action-hero__container">

    <div class="double-section__header">
      <r:editable_region name="double-top__header">
        <h2>Double Top Header</h2>
        <p>
          Here is where you explain what is going on.
        </p>
      </r:editable_region>
    </div>

    </div>
  </div>




<div class="double-section-bottom">
  <div class="wvu-action-hero__container">

    <div class="double-section__header">
      <r:editable_region name="double-bottom__header">
        <h2>Double Top Header</h2>
        <p>
          Here is where you explain what is going on.
        </p>
      </r:editable_region>
    </div>

    </div>
  </div>




</section>
