<r:if v1="{$backpage_main}" v2="false" op="!=">

  <div class="wvu-container">

    <div  class="<r:page:data name="bgcolor_backpage" /> background <r:if v1="{$backpage_has_sidebar}" v2="false" op="=">main--wide</r:if> <r:edit_mode_only>main--edit-mode</r:edit_mode_only>">
    <r:set_var name="limit" value="{$limit}" default="500"/>



      <ul class="directory">
        <r:children:each limit="{$limit}" labels="{$tags}" with_template="profile_individual">

          <li>
            <div class="directory__individual-photo">
                <r:page:content name="wvu-profile__photo" />
            </div> <!-- /.wvu-profile__individual-photo -->

            <div class="directory__individual-info">
              <h2 class="wvu-profile__name"><a href="<r:page:url />"><r:page:name /></a></h2>
            </div> <!-- /.wvu-profile__individual-info -->
          </li>

          </r:children:each>
      </ul>







    </div>



  </div> <!-- /.wvu-container -->

  <r:edit_mode_only>
    <div class="wvu-instructions">
      <p><strong>Instructions for Backpage:</strong> You can put whatever you want in the main content region. The sidebar and sub-nav are optional. Just set either the <code>backpage_has_sidebar</code> or <code>backpage_has_subnav</code> attributes to <code>false</code> in Page Properties > Data.</p>
    </div>
  </r:edit_mode_only>

</r:if>
