<style>
  #facts {
      background: url(//www.engr.washington.edu/sites/all/themes/boundless/images/stripes_dark.png?5ba7fc6…)!important;
      font-family: Encode Sans Compressed,sans-serif;
  }
  .container {
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
      width:1170px;
      margin-bottom:80px;
  }
    .row {
      margin-left: -15px;
      margin-right: -15px;
  }
  #fact-blocks {
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      float: left;
      width: 33.33333333%;
  }
  #fact-blocks .fact-block {
      margin-left: -15px;
      margin-right: -15px;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      background: #fff;
      color: #85754d;
      margin: 20px 0;
      padding: 10px;
      font-weight: 800;
  }
  #main-facts {
      min-height: 350px;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
          float: left;
      width: 66.66666667%;
  }

  #main-facts .main-fact {
      border-radius: 50%;
   width: 250px;
      height: 250px;
      margin-left: -125px;
      color: #4b2e84;
        left: 50%;
      background: #fff;
      position: absolute;
       text-align: center;
      padding: 0 10px;
  }

  .main-fact-left {
      top: 70px;
      left: 20%;
  }

  .main-fact .number {
      font-size: 70px;
      line-height: 70px;
      margin-top: 60px;
      display: block;
      font-weight: 800;
  }

  #main-facts .main-fact .fact {
      font-size: 30px;
          display: block;
  }

  #main-facts .main-fact-right {
      top: 70px;
      left: 80%;
  }

  #main-facts .main-fact .number.smaller {
      font-size: 40px;
  }

  #main-facts .main-fact .fact.smaller {
      font-size: 20px;
  }
  #main-facts .more-facts {
      top: 310px;
      #main-facts .more-facts {
      position: absolute;

      left: 50%;
      -webkit-transform: translate(-50%);
      transform: translate(-50%);
  }
  }
</style>





<div id="facts">
  <div class="container">
    <div class="row">
      <div id="fact-blocks">
        <div class="fact-block">
          <span class="number">#1</span>
          <span class="fact">source of UW startups (over half)</span>
        </div>
        <div class="fact-block">
          <span class="number">117</span>
          <span class="fact">years of engineering innovation</span>
        </div>
        <div class="fact-block">
          <span class="number">11.5</span>
          <span class="fact smaller">million dollars awarded in student scholarships</span>
        </div>
      </div>
      <div id="main-facts">
        <div class="main-fact main-fact-center">
          <span class="number">24%</span>
          <span class="fact">female faculty members</span>
        </div>
        <div class="main-fact main-fact-left">
          <span class="number">8134</span>
          <span class="fact">students enrolled</span>
        </div>
        <div class="main-fact main-fact-right">
          <span class="number smaller">$153M</span>
          <span class="fact smaller">in externally funded research</span>
        </div>
        <div class="more-facts">
          <a class="btn btn-default" href="/about/mission">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</div>
