---
layout: default
custom_data_attributes:
  - advertisements_id
  - alternate_url
  - backpage_has_sidebar
  - backpage_header
  - backpage_header_badge
  - calendar_feed_page
  - agenda_id
  - calendar_id
  - directory_id
  - featurettes_id
  - featurettes_2_id
  - header_background
  - hero
  - hero_text_alignment
  - jquery_defer_page
  - polyptych_panel_count
  - profiles_id
  - search_action
  - show_instructions
  - staff_directory_id
  - testimonials_id
  - slot_01
  - slot_02
  - slot_03
  - slot_04
  - slot_05
  - slot_06
  - slot_07
  - subnav_start_depth
  - media_id
  - media_id_2
  - media_link_text
  - thumbnail_alt
  - thumbnail_url
---
<r:set_var name="profileURL">http://infostations.wvu.edu/webform/wayfinding/wfbue/profilexml/<r:var name="pid" />.xml</r:set_var>

<r:partial name="custom-patterns/so-backpage-partials--top" />

<div class="wvu-container">

  <div  class="main <r:if v1="{$backpage_has_sidebar}" v2="false" op="=">main--wide</r:if> <r:edit_mode_only>main--edit-mode</r:edit_mode_only>">

    <r:partial name="custom-patterns/so-page-meta" />

    <r:xslt_transform url="{$profileURL}">
      <?xml version="1.0" encoding="UTF-8"?>
      <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
      <xsl:output method="html"/>
        <xsl:template match="/">
          <xsl:apply-templates select="//event" />
        </xsl:template>

        <xsl:template match="event">

          <div class="wvu-profile__contact-and-photo">
            <div class="wvu-profile__photo">
              <img>
                <xsl:attribute name="src"><xsl:value-of select="ProfileImage" /></xsl:attribute>
              </img>
            </div> <!-- /.wvu-profile__photo -->
            <div class="wvu-profile__meta-info">
              <p class="wvu-profile__phone-icon">
                <a class="wvu-profile__phone">
                  <xsl:attribute name="href">tel:<xsl:value-of select="Phone" /></xsl:attribute>
                  <xsl:value-of select="Phone" />
                </a>
              </p>
              <p class="wvu-profile__email">
                <a class="wvu-profile__phone">
                  <xsl:attribute name="href">mailto:<xsl:value-of select="Email" /></xsl:attribute>
                  <xsl:value-of select="Email" />
                </a>
              </p>

              <xsl:if test="normalize-space(CV) != ''">
                <p class="wvu-profile__vitae">
                  <a>
                    <xsl:attribute name="href"><xsl:value-of select="CV" /></xsl:attribute>
                    View Curriculum Vitae
                  </a>
                </p>
              </xsl:if>
              <p class="wvu-profile__room">
                <xsl:if test="normalize-space(SecondaryRoomNumber) != ''">
                  <span><xsl:value-of select="SecondaryRoomNumber" /></span>
                  <span style="margin-left: 7px;"><xsl:value-of select="SecondaryBuildingName" /></span>
                </xsl:if>

                <xsl:if test="normalize-space(SecondaryRoomNumber) = ''">
                  <span><xsl:value-of select="RoomNumber" /></span>
                  <span style="margin-left: 7px;"><xsl:value-of select="BuildingName" /></span>
                </xsl:if>
              </p>
            </div> <!-- /.wvu-profile__meta-info -->
          </div>

          <div class="wvu-profile__content">

            <h1 class="wvu-profile__name"><xsl:value-of select="DisplayName" /></h1>

            <div class="wvu-profile__meta-info">
              <p class="wvu-profile__job-title1"><xsl:value-of select="PrimaryTitle" />, <xsl:value-of select="PrimaryDepartment" /></p>

              <xsl:if test="normalize-space(SecondaryDepartment) != ''">
                <p class="wvu-profile__job-title2"><xsl:value-of select="SecondaryTitle" />, <xsl:value-of select="SecondaryDepartment" /></p>
              </xsl:if>

              <xsl:if test="normalize-space(TertiaryDepartment) != ''">
                <p class="wvu-profile__job-title3"><xsl:value-of select="TertiaryTitle" />, <xsl:value-of select="TertiaryDepartment" /></p>
              </xsl:if>
            </div> <!-- /.wvu-profile__meta-info -->

            <xsl:if test="normalize-space(Expertise) != ''">
              <div class="wvu-profile__expertise">
                <h4>Expertise</h4>
                <xsl:value-of disable-output-escaping="yes" select="Expertise"/>
              </div>
            </xsl:if>

            <xsl:if test="normalize-space(Education) != ''">
              <div class="wvu-profile__education">
                <h4>Education</h4>
                <xsl:value-of disable-output-escaping="yes" select="Education"/>
              </div>
            </xsl:if>

            <xsl:if test="normalize-space(HonorsAwards) != ''">
              <div class="wvu-profile__awards">
                <h4>Honors &amp; Awards</h4>
                <xsl:value-of disable-output-escaping="yes" select="HonorsAwards"/>
              </div>
            </xsl:if>

            <xsl:if test="normalize-space(RecentPublications) != ''">
              <div class="wvu-profile__publications">
                <h4>Recent Publications</h4>
                <xsl:value-of disable-output-escaping="yes" select="RecentPublications"/>
              </div>
            </xsl:if>

          </div>
        </xsl:template>
      </xsl:stylesheet>
    </r:xslt_transform>

  </div><!-- /.main -->

  <r:partial name="custom-patterns/wvu-sidebar" />

</div> <!-- /.wvu-container -->

<r:partial name="custom-patterns/so-backpage-partials--bottom" />
