---
layout: default
custom_data_attributes:
- agenda_id
- alternate_url
- backpage_has_sidebar
- backpage_has_subnav
- backpage_header
- backpage_header_badge
- backpage_main
- bgcolor_adverts
- bgcolor_backpage
- bgcolor_calendar_widget
- bgcolor_diptych
- bgcolor_diptych_2
- bgcolor_diptych_3
- bgcolor_featurettes
- bgcolor_featurettes_2
- bgcolor_gallery
- bgcolor_lede_text
- bgcolor_media_object
- bgcolor_pentaptych
- bgcolor_pentaptych_2
- bgcolor_pentaptych_3
- bgcolor_polyptych
- bgcolor_profiles
- bgcolor_profiles_index
- bgcolor_quadriptych
- bgcolor_quadriptych_2
- bgcolor_quadriptych_3
- bgcolor_social_media
- bgcolor_super_nav
- bgcolor_testimonials
- bgcolor_triptych
- bgcolor_triptych_2
- bgcolor_triptych_3
- bgcolor_video
- calendar_url_page
- directory_id
- featurettes_id
- featurettes_2_id
- hero_has_video
- hero_text_alignment
- hero_vignetting
- jquery_defer_page
- link_text
- polyptych_items
- profile_quote
- profile_quote_author
- profiles_id
- rss_url
- search_action
- search_index_id
- show_instructions
- slot_01
- slot_02
- slot_03
- slot_04
- slot_05
- slot_06
- slot_07
- slot_07
- slot_08
- slot_09
- slot_10
- staff_directory_id
- testimonials_id
- thumbnail_alt
- thumbnail_url
- thumbnail_url_sq
---
<r:content_for name="header-extras">

</r:content_for>
<style>
.wvu-hero__header{
  color: <r:page:content name="article__hero-color" />!important;
  font-family: <r:page:content name="article__hero-text-family" />!important;
}
</style>


<r:set_var name="bgurl">
  <r:page:slug />-hero-background
</r:set_var>

  <div class="wvu-hero wvu-hero--<r:site:id /> <r:if value1="{$hero_text_alignment}" value2="right" operator="=">wvu-hero--right</r:if> wvu-hero--big-photo" style="background-image: url(<r:page:content name="article__hero-url"><r:file:image_url size="1780x750" /></r:page:content>);">
    <div class="wvu-hero__container wvu-hero__container--vignetting-<r:page:data name="hero_vignetting" />">
    <div class="wvu-hero__copy <r:edit_mode_only>wvu-hero__copy--edit-mode</r:edit_mode_only>">
      <h1><span><r:editable_region name="wvu-hero__header" type="simple">Header Goes Here</r:editable_region></span></h1>
      <p><r:editable_region name="wvu-hero__text" type="simple">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</r:editable_region></p>
      <r:page:if_has_content_for region="wvu-hero__action-item-url">
        <a href="<r:page:content name="wvu-hero__action-item-url" />" class="button button--white <r:edit_mode_only>button--edit-mode</r:edit_mode_only>"><r:page:content name="wvu-hero__action-item-text" /></a>
      </r:page:if_has_content_for>
      <r:edit_mode_only>
        <p class="button"><r:editable_region name="wvu-hero__action-item-text" type="simple">Action Item Text</r:editable_region></p>
        <p><r:editable_region name="wvu-hero__action-item-url" type="simple">URL for action item goes here. If you don't want the hero unit to show up at all, delete the content in this editable region.</r:editable_region></p>
      </r:edit_mode_only>
    </div>
  </div>
</div>




  <r:edit_mode_only>

    <p class="button"><r:editable_region name="right-side__action-item-text" type="simple">Action Item Text</r:editable_region></p>
    <p><r:editable_region name="right-side__action-item-url" type="simple"></r:editable_region></p>
    <p><r:editable_region name="article__hero-url" type="simple">Hero Image URL</r:editable_region></p>
    <p><r:editable_region name="article__hero-color" type="simple">Hero Text Color</r:editable_region></p>
    <p><r:editable_region name="article__hero-text-family" type="simple">Hero Text Family</r:editable_region></p>
  </r:edit_mode_only>


<r:edit_mode_only>
  <div class="wvu-instructions">
    <p><strong>Instructions for Hero:</strong> This is where you feature your most important content and user action. It requires marketing copy for a headline and brief description, a call to action, and a photo. If you cannot provide all of these items, consider omitting this section. See our <a href="http://brand.wvu.edu/brand-guide/voice">guidelines for marketing copy</a> and <a href="http://brand.wvu.edu/brand-guide/graphic-language/photo">using photos</a>. If you want to use a large background image, upload your own background image. Label the image with the page slug of the page that contains the hero and a &ldquo;-hero-background&rdquo; suffix. For example, if the hero is being used on the Home page, label the photo with &ldquo;home-hero-background&rdquo;.</p>
  </div>
</r:edit_mode_only>

<div class="wvu-container statler-article__title">
  <h1><r:article:name /></h1>
  <div id="wvu-main-content" class="main-back" role="article">



      <div class="statler-article__featured-media">

        <r:editable_region name="article-media__first" >
          <img src="http://statler.sandbox.wvu.edu/files/2ce04ceb-78eb-469e-9b3c-2874a24b63a6/876x493?cb=1449698045" alt="This is an image of the flying WV logo used when a media article has no media accompanying it.">
        </r:editable_region>

<r:page:if_has_content_for region="article-media__caption" always_show_in_edit_mode="true">
        <p class="statler-article__featured-media-caption">
          <r:edit_mode_only>Enter the featured image caption</r:edit_mode_only>
          <r:editable_region name="article-media__caption" />
        </p>
</r:page:if_has_content_for>
        </div>
<div class="sharethis-inline-share-buttons"></div>

<r:page:if_has_content_for region="article-media__location" always_show_in_edit_mode="true">
<p>
<r:edit_mode_only>Enter the Author's name</r:edit_mode_only>
  Written by <strong><r:editable_region name="author-name" class="statler-author-name"/><strong>
</p>
</r:page:if_has_content_for>

        <p class="statler-article__lede">
          <r:edit_mode_only><br>Enter the story lede</r:edit_mode_only>
          <r:editable_region name="article-lede" />
        </p>

        <div class="statler-article__copy">
          <p>
            <r:edit_mode_only>Enter the rest of the story copy</r:edit_mode_only>
            <r:editable_region name="article-copy" />
          </p>
        </div>



</div>






</div>
