@media print {

  @page {
  size: auto;
  margin: 0 10px;
  padding: 25px;
       }
  // Black prints faster: http://www.sanbeiji.com/archives/953
  body {
	background: none;
	color: black;
}
  *, *:before, *:after { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }

  // Links - original text will be bold without underline. Links will have () around them.
  a, a:visited { font-weight: bolder; text-decoration: none; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }

  // Don't show links that are fragment identifiers, or use the `javascript:` pseudo protocol
  a[href^="#"]:after, a[href^="javascript:"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }

  // Printing Tables: http://css-discuss.incutio.com/wiki/Printing_Tables
  thead { display: table-header-group; }
  ul, tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  .print {
display: block;
}
  .screen, .wvu-masthead, .wvu-nav, .news-page-header, .back-page-header, .wvu-sub-nav, .mobile-recruitment, .recruitment, .recruitment__container, .recruitment__buttons, .share__container, .share__tool, .social-media, .article__related-stories, .statler-quadtych, .wvu-footer, .social-media__container {
  display: none;
  }
}

//<img src="<r:image_url name="wvu-statler-logo-print.png" />" alt="" width="250px" class="print">
