.statler-dept-article{
  width: 100%;
  float: left;
  @include mq($bp-medium) {
    width: 100%;
  }
  img{
    width:100%;
    height:150px;
    object-fit:cover;
  }

  margin: 0;
  padding: 0;
  list-style-type:none;
    ul{ margin: 0; padding: 0; }
    @include mq($bp-medium) {
      @include span-columns(12);
      li {
        list-style-type: none;
        padding-left: 0;
        width: 100%;
          float: left;
          padding-left: 0em;
      margin-top: 1rem;
      margin-bottom: 1.5rem;
      border-bottom: 1px solid #f2f2f2;
      &:last-child{border-bottom: none;}
      @include mq($bp-medium) {
        @include span-columns(3);
        //@include omega(3n);
        border-bottom: none;
      } //mq
      @include mq($bp-xlarge) {
      //  @include omega-reset(3n);
        @include span-columns(5);
        @include omega(5n);
      } //mq
      } //li
    } //mq
 h2{
  font-size: 1em;
    @include mq($bp-medium){
    font-size: 1em;
    line-height: 1.5em;
    }//mq
  }//h2
  p{line-height: 1.75rem;}//p
}//.statler-dept-article

a.rss {
    position: relative;
    left: 8px;
    top: -1px;
}

.sub-article__section-title{
  border-bottom: 3px solid #333F48;
}

.item-description{
  margin-bottom: 2em;
}
