.statler-international {
  padding:0;
}

.international-photo{
  float:left;
  padding-right: 2em;
  width:40%;

}

.international-profile{
  float:left;
  padding: 2em 0;
  width:60%;
}

.international-image {
  overflow:hidden;
}
