h2.mag-footer {
  color: #EAAA00!important;
  font-size: 1.25em;
  line-height: 1em;
}
p.mag-footer {
  color: white;
      font-size: .8em;
      line-height: 1rem;
}
a.mag-footer button{
  font-size: .75em;
  color:#EAAA00;
}

h1.mag:before{
  content:none;
}

.mag-button-div{
  margin:auto;
  text-align:center;
}


.ewv-magazine-masthead__container {
  @include clearfix;
  margin:auto;
  max-width:30em;
}

.ewv-magazine-masthead__container-small {
  @include clearfix;
  margin:auto;
  max-width:75em;
}



.ewv-magazine-masthead {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)),
  color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3000000',
  GradientType=0 ); /* IE6-9 */
  z-index: 9999999;
  width:100%;
  position:absolute;
}
.ewv-magazine-masthead-small {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.75)),
  color-stop(100%,rgba(0,0,0,0.75))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3000000',
  GradientType=0 ); /* IE6-9 */
  z-index: 9999999;
  width:100%;

}

.ewv-magazine-masthead__logo {
  padding: 2em;
  width: 100%;
  margin:auto;
  @include mq($bp-medium) {
  }
  @include mq($bp-xlarge) {
    padding: 2em 0;
  }
}

.ewv-magazine-masthead__logo-small {
  padding: 2em;
  width: 25%;
  margin:auto;
  @include mq($bp-medium) {
  }
  @include mq($bp-xlarge) {
    padding: .5em 0;
  }
}


h1.ewv-magazine {
  max-width:45em;
  margin-top:3.5em;
  text-align:center;
  font-size:5em;
  line-height:1.25em;
  font-weight:normal;
  text-transform:uppercase;
  text-shadow: 1px 1px 1px #000000;
      color:white;
      z-index:3;
}

p.ewv-magazine{
  margin:auto;
  text-align:center;
  font-size:1.25em;
  line-height:1.25em;
  font-weight:normal;
  text-transform:uppercase;
  text-shadow: 1px 1px 1px #000000;
      font-family: "Helvetica Neue",Helvetica,"Helvetica LT Std","Helvetica CY",Arial,"Lucida Grande",sans-serif;
      color:#EAAA00;
      z-index:3;
      padding-bottom:1em;
}

.ewv-magazine-button{
  background: #2C2A29;
  border: 2px solid white;
  color: white;
}

.ewv-magazine-button:hover{
  background:white;
  border: 2px solid white;
  color: #2C2A29;
}



.ewv-masthead__search-bar {
  padding: 1em;
  @include mq($bp-xlarge) {
    padding: 0;
  }
  .form-search__field {
    padding-left: 0;
  }
  .input{
    width: 50%;
    float: right;
  }
}

.ewv-masthead__search-and-submit {
  padding: 1em;
  padding-top: 0;
  @include mq($bp-xlarge) {
    padding: 0;
  }
}




h1.article-accent{
  text-align:center;
}

img.article-center{
  margin:auto;
  display:inherit;
  width:100%;
}

.center{
  margin:auto;
}

.mag-section-title{
  display:inline-block;
  color:white;
  font-size:2em;
  vertical-align: middle;
}

ul.in-memoriam{

   li {
    background-color:gainsboro;
    width:33%;
    border-bottom: 1px solid #a2aaad;
    h2{ font-size: 1.4rem; text-align: left;}
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    &:last-child{border-bottom: none;}
    @include mq($bp-medium) {
      border-bottom: none;
      border-radius: 6px;
      @include span-columns(5.75);
      @include omega(2n);
    padding: 1rem;
    } //mq
    @include mq($bp-large) {
      @include span-columns(3);
      @include u-omega-reset(2n);
      @include omega(4n);
    } //mq
  } //li
}

.wvu-container.department-features {
  padding-top: 25px;
}

.department { border-left: 2px solid; padding-left: 1em; font-size: 0.8em; margin-bottom: 3em; position: relative;

}

.department-features {
  padding: 0 1em;
  @include mq($bp-xlarge) {
    padding: 0;
  }
}

.department--memoriam {
  border-color: #9ABEAA;
}

.department {
  @include mq($bp-medium) {
    @include span-columns(3);
    @include omega(4n);
  }
}

.page-wvu-magazine-department--memoriam, {
  .wvu-magazine-department__sub-features {
    @include mq($bp-medium) {
      @include span-columns(12);
      @include shift(0);
    }
  }
}

.statler-360-grid {
width: 100%;
float: left;
padding-right: 1.5em;
@include mq($bp-medium) {
  width: 100%;
  padding-right: 0em;
}
img{
  width:100%;
  height:200px;
  object-fit:cover;
}
h2{
  font-size: .9em;
  color: #0057A8;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
li{
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  height: 275px;
  float: left;
  padding-left: 0em;
    @include mq($bp-medium) {
      width: 25%;
      padding-left: 1em;
      margin-top: 0;
    }
}
ul{
  padding-left: 0;
  @include mq($bp-medium){
    margin-top:0;
  }
}

}
