// News styles
//==================================================


.statler-news-grid__solo{
  width: 50%;
  float: left;
  padding-right: 1.5rem;
  font-size: 1.2rem;
  p{
    margin-top: 1.5rem;
    margin-left: 1.5rem;

  }
  a{
    color: #005eb8;
  }
  ul{
    list-style-type: none;
    padding-left: 0;
  }
}

.statler-news-grid__more {
width: 25%;
float: left;
padding-right: 1.5rem;
li{
  list-style-type: none;
  padding-left: 0;
}

}

.statler-news-grid__brief {
width: 25%;
float: left;
li{
  list-style-type: none;
  padding-left: 0;
}

}

.article_by-topic .article_by-date .articles__filter-by .wvu-blog-archive ul a{
  padding: 2px 0 2px 8px;
}
