h2.mag-footer {
  color: #EAAA00!important;
  font-size: 1.25em;
  line-height: 1em;
}
p.mag-footer {
  color: white;
      font-size: .8em;
      line-height: 1rem;
}
a.mag-footer button{
  font-size: .75em;
  color:#EAAA00;
}

h1.mag:before{
  content:none;
}

.mag-button-div{
  margin:auto;
  text-align:center;
}

.ewv-magazine-masthead__container {
  @include clearfix;
  margin:auto;
  max-width:30em;
}


.ewv-magazine-masthead {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)),
  color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3000000',
  GradientType=0 ); /* IE6-9 */
  z-index: 9999999;
  width:100%;
  position:absolute;
}

.ewv-magazine-masthead__logo {
  padding: 2em;
  width: 100%;
  margin:auto;
  @include mq($bp-medium) {
  }
  @include mq($bp-xlarge) {
    padding: 2em 0;
  }
}


h1.ewv-magazine {
  max-width:45em;
  margin-top:3.5em;
  text-align:center;
  font-size:5em;
  line-height:1.25em;
  font-weight:normal;
  text-transform:uppercase;
  text-shadow: 1px 1px 1px #000000;
      color:white;
      z-index:3;
}

p.ewv-magazine{
  margin:auto;
  text-align:center;
  font-size:1.25em;
  line-height:1.25em;
  font-weight:normal;
  text-transform:uppercase;
  text-shadow: 1px 1px 1px #000000;
      font-family: "Helvetica Neue",Helvetica,"Helvetica LT Std","Helvetica CY",Arial,"Lucida Grande",sans-serif;
      color:#EAAA00;
      z-index:3;
      padding-bottom:1em;
}

.ewv-magazine-button{
  background: #2C2A29;
  border: 2px solid white;
  color: white;
}

.ewv-magazine-button:hover{
  background:white;
  border: 2px solid white;
  color: #2C2A29;
}



.ewv-masthead__search-bar {
  padding: 1em;
  @include mq($bp-xlarge) {
    padding: 0;
  }
  .form-search__field {
    padding-left: 0;
  }
}

.ewv-masthead__search-and-submit {
  padding: 1em;
  padding-top: 0;
  @include mq($bp-xlarge) {
    padding: 0;
  }
}
