// Footer styles
//==================================================


.statler-contact { clear: left;
  ul, p { margin: 0; padding: 0; margin-bottom: 5px; }
  li { list-style-type: none; display: inline; }
} //.statler-contact
.statler-contact li:before, .wvu-links li:before { content: '|'; padding-right: 3px; }
.statler-contact li:first-child:before, .wvu-links li:first-child:before { content: ''; padding-right: 0; }

.statler-give {
  ul { clear: both; margin-top: 0; margin-bottom: 0; padding-left: 0; list-style-type: none; }
  li { display: inline; margin: 0; }
} //.statler-give

.statler-contact, .statler-give, .wvu-contact { float: left; padding-bottom: 13px; }


// ~Tablet+
@media (min-width: $grid-mq-tablet) {
  .statler-contact, .statler-give { margin-left: 0; margin-right: 0; width: 50%; }
  .statler-contact { float: left;
    ul, p { margin-bottom: 0; }
  } //.statler-contact
  .statler-give { float: right;
    ul { float: right; }
  } //.statler-give
} // /(min-width: $grid-mq-tablet)

// Media query for higher pixel density displays, eg iPhone 4, Android, etc
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {


} // /hi-res-mq
