.image-bar-background{
	background-color: #002855;
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    -webkit-font-smoothing: antialiased;
	h1 {
    .fonts-loaded & { font-family: $wvu-shout; }
    font-family: $wvu-shout-fallback;
    color: white;
    font-size: 3em;
    line-height: 0.80487em;
    text-transform: uppercase;
    font-weight: normal;
    text-shadow: 1px 1px 1px #000000;
    margin-bottom: 3rem;
    margin-top: 3rem;
    @include mq($bp-medium){
        margin-bottom: 1rem;
        margin-top: 4rem;
        font-size: 6.2em;
        }
        a{
          color:white;
        }
        a:visited {
          color:white;
        }
    }


}
.image-bar-background__container {
	max-width: 75em;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}
