.stats-layout {
      background-color: #005EB8;
  }

  .statscolor{
    color:white;
}

  .main-number {
      font-family: "HelveticaNeueW01-97Blac",Impact,"Helvetica Neue",Helvetica,"Helvetica LT Std","Helvetica CY",Arial,"Lucida Grande",sans-serif;
      font-weight: 400;
      line-height: .8;
      font-size: 4rem;
      margin-bottom: .75rem;
      text-shadow: 0 0.125rem #002855;
      color: $wvu-gold;
      -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  display: inline-block;
  }
  .secondary-number {
      color: $wvu-gold;
      display: inline-block;
      font-family: "HelveticaNeueW01-97Blac",Impact,"Helvetica Neue",Helvetica,"Helvetica LT Std","Helvetica CY",Arial,"Lucida Grande",sans-serif;
      font-weight: 400;
      line-height: .8;
      font-size: 4rem;
      margin-bottom: .75rem;
      text-shadow: 0 0.125rem #002855;
  }
  .text {
      font-size: 1rem;
      color: #fff;
      line-height: 1em;
      display: block;
      -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  text-transform: uppercase;
  }

  .stat-container{
      text-align: left;
      padding-right: 3rem;
      padding-bottom: 0;
  display: flex;
  border-right: none;
      float: left;
      width: 100%;
      @include mq($bp-medium) {
        width:auto;
      }

  }
  .stat-layout{
          display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  }
