// News styles
//==================================================


.statler-news-grid__solo{
  width: 100%;
  @include mq($bp-medium) {
    width: 50%;
  }
  float: left;
  padding-right: 1.5rem;
  margin-top: 0;
  p{
    margin-top: 1.5rem;
    margin-left: 1.5rem;

  }
  a{
    color: #005eb8;
  }
  ul{
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;

  }
  li{
    margin-top: 0;
  }
  h2{
    font-size: 1.2em;
    padding-bottom: 1em;
  }
}


.statler-news-grid__more {
width: 100%;
float: left;
@include mq($bp-medium) {
  width: 50%;
}
h2{
  font-size: 1em;
}
li{
  list-style-type: none;
  padding-left: 0;
  width: 100%;
    float: left;
    padding-left: 0em;
    @include mq($bp-medium) {
      width: 50%;
      padding-left: 1em;
      margin-top: 0;
    }
}
ul{
  @include mq($bp-medium){
    margin-top:0;
  }
}

}

.statler-news-grid__flat {
width: 100%;
float: left;
@include mq($bp-medium) {
  width: 100%;
}
h2{
  font-size: 1em;
}
li{
  list-style-type: none;
  padding-left: 0;
  width: 100%;
    float: left;
    padding-left: 0em;
    @include mq($bp-medium) {
      width: 20%;
      padding-left: 1em;
    }
}

}



.article_by-topic .article_by-date .articles__filter-by .wvu-blog-archive ul a{
  padding: 2px 0 2px 8px;
}

.article__image {
  margin-bottom:20px;
}

.statler-article__title {
  h1{
    font-size: 2em;
    @include mq($bp-large) {
      font-size: 4em;
    }
  }
}

.statler-article__featured-media-caption {
    font-style: italic;
    font-family: "IowanOldStyleW01-Roman", Georgia, Times, serif;
}
.statler-article__location {
    font-style: italic;
    font-family: "IowanOldStyleW01-Roman", Georgia, Times, serif;
    color: #333f48;
    font-size: .8em;
    margin-top: 2em;

}
.statler-article__lede {
    font-size: 1.5em;
    font-family: "IowanOldStyleW01-Roman", Georgia, Times, serif;
    line-height: 1.5em;

    max-width: 33em;
    margin-top: 2em 0;
    color: #E35205;
    a a:visited {
      color: #E35205;
    }
}

.statler-article__lede {
  p:first-child:first-letter {
    float: left;
    line-height: 0.80487em;
    font-family: "HelveticaNeueW01-97Blac", "Helvetica W01 Bold", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 6em;
    padding-right: 20px;
  }
}
.statler-article__copy{
p{
  color: #555;
  line-height: 1.75em;
  font-size: 1em;
}
}
