.statler-international {
  padding:0;
}

.international-photo{
  float:left;
  padding-right: 2em;
  width:30%;

}

.international-profile{
  float:left;
  padding: 2em 0;
  width:70%;
}

.international-profile_photo{
  padding-bottom: 2em;
}

.international-image {
  overflow:hidden;
}

@include mq($bp-medium, false, max) {
    .statler-international{
        padding-bottom:0;
        padding-top:0;
        .international-profile{
            clear:both;
            width:100%;
            padding-left: 1em;

        }
        .international-photo{
            width:100%;
            padding: 0;

        }

    }
}
