// --Omega Reset--
// http://www.joshfry.me/blog/2013/05/13/omega-reset-for-bourbon-neat/
@mixin u-omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

.academics li{
	list-style: none;
}
.main-back {
  @include mq($bp-medium) { @include span-columns(9.5); }
}
.wvu-sidebar {

  ul{
  	list-style: none;
  	font-weight: 600;
		text-decoration: none;
  	padding: 0 0;
    li {
        border-bottom: 0px solid #ccc;
        padding: 0;
        &:last-child{
          border-bottom: none;
        }
        ul{padding: 0; border-left: 3px solid #005eb8;}
      }
  	a{
  		text-decoration: none;
  		display: block;
      padding: 3px 0 3px 8px;
      width: 100%;
      margin: 0px 0 0px 0;
      color: $wvu-blue;
    	&:hover{background-color: $wvu-gold;}
      }
    }
  @include mq($bp-medium) { @include span-columns(2.5); }
}

.pagetitle{
  width: 100%;
  }
.imagescol{
  width: 100%;
  @include mq($bp-medium) { @include span-columns(4); }
  }
.contentcol{
  width: 100%;
  @include mq($bp-medium) { @include span-columns(8); }
  }
.full{
  width: 100%;
  @include mq($bp-medium) { @include span-columns(12); }
  }

.icon{
    &:after{
      content: "";
      width: 32px;
      height: 32px;
      display: inline-block;
      position: relative;
      top: 10px;
      left: 10px;
    }
}
.pdf-icon{
    &:after{
        background: url(/images/icons/pdf-icon.png);
    }
}
.dept-news{
  width: 100%;
}
.recent-news{
  width: 100%;
  h1{
  }
  @include mq($bp-medium) { @include span-columns(6); }
    margin-right: 0 !important;

  }
.archive-links{
  width: 100%;
  text-align: left;
  float: left;
  @include mq($bp-medium) { @include span-columns(6); }
  text-align: right;
  margin-right: 0 !important;
  }
ul.manual{
  margin-bottom: 0;
}
li.manual-last{
  border-bottom: 1px solid #cccccc !important;
}
.dept_address{
  width: 50%;
  float: right;
}

.wvu-sub-nav ul li a.current {
    cursor: default;
    background-color: $wvu-blue;
    color: white;
    &:after{
      content: "";
      display: inline-block;
      left: 10px;
      top: 2px;
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-right: 8px solid white;
      position: relative;
      }
  }



	.u-tri-list {
		h2 {
			font-size: 2em;
		}
		padding-left: 0;
	 margin-left: 0;
	  list-style-type: none;
	  margin-top: 10px;
	  margin-bottom: 30px;
	  li {
	    margin-top: 1rem;
	    margin-bottom: 1.5rem;
	    ul {
	      display: block;
	      li{
	        display: list-item;
	        float: none;
	        width: 100%;
	        list-style: initial;
	        margin-bottom: 1rem;
					h2 {
						font-size: 2em;
					}

	        } //.u-link-list li
	    } //.u-link-list ul
	    &:last-child{border-bottom: none;}
	    @include mq($bp-medium) {
	      @include span-columns(6);
	      @include omega(2n);
	      border-bottom: none;
	      margin-bottom: 2rem;
	    } //mq
	    @include mq($bp-xlarge) {
	      @include omega-reset(2n);
	      @include span-columns(4);
	      @include omega(3n);
	    } //mq
	  } //li
	}

	.landing-h2{
    font-size: 2.75rem;
    line-height: .85;
    text-align: center;
    text-transform:uppercase;
        @include mq($bp-medium) {
          font-size: 4rem;
        }

    }


    .profile-display{
      display:block;
      float: left;
      padding-right:2em;
      padding-bottom:2em;
    }

    .button-fix{
      margin: auto;
  }
  .button-fix a {
      width: 100%;
      margin: auto;
      text-align: center;
      font-size:  1.25em;
  }

  .greybox-font{
        font-size: 1.25em;
    text-align: center;

    }
    .greybox-h2{
        color: #EAAA00;
    }

    .center-button{
        margin:0 auto;
        display: table;
        margin-bottom: 2em;
    }

    .center-button:hover{
        color: white;
    }


	.wvu-alert { color: $alert-color }
	.wvu-error { color: $error-color }
	.wvu-notice { color: $notice-color }
	.wvu-success { color: $success-color }

  .visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }

  .google-form {
    width: 750px;
    height: 500px;
  }
