.connect-with-us {
    background: url(/images/1499801099/woodburn.jpg) 50% 50%;
    background-size: cover;
}

.connect-with-us-top {
    background: rgba(154,190,170,0.85);
}

.connect-with-us-bottom {
    background: rgba(155,211,221,0.9);
    padding-top: 2em;
}
