// Footer styles
//==================================================


.statler-contact { clear: left;
  ul, p { margin: 0; padding: 0; margin-bottom: 5px; font-size: .8em;}
  li { list-style-type: none; display: inline; }
} //.statler-contact
.statler-contact li:before, .wvu-links li:before { content: '|'; padding-right: 3px; }
.statler-contact li:first-child:before, .wvu-links li:first-child:before { content: ''; padding-right: 0; }

.statler-give {
  ul { clear: both; margin-top: 0; margin-bottom: 0; padding-left: 0; list-style-type: none; }
  li { display: inline; margin: 0; }
} //.statler-give

.statler-contact, .statler-give, { float: left; padding-bottom: 13px; }

.statler-contact, .statler-give { margin-left: 0; margin-right: 0; width: 50%; }
