.statler-lg-feature {
    background-repeat: no-repeat;
    @include mq($bp-large) {
      background-size: 50% auto;
    }
  }

.statler-lg-feature-right {
  background-position: right 0px top 0px;
}
  .statler-lg-feature-left__container {
    background: radial-gradient(farthest-side at 90% 155%, transparent, #fff 120%);

      padding: 4em 2.7em 4.3em 2.7em;
    max-width: 40em;
    @include mq($bp-medium) {
      margin-left: 52%;
      width: 48.82117%;
      background: none;
    }

}

.statler-lg-feature-right__container {
  background: radial-gradient(farthest-side at 90% 155%, transparent, #fff 120%);

  padding: 4em 2.7em 4.3em 2em;
  max-width: 40em;

  @include mq($bp-medium) {
    width: 50%;

        background: none;
        padding-left: 4.5em;
        padding-right: 5em;
  }
}
.statler-lg-feature__copy{
  @include mq($bp-large) {
    padding-left:3em;
  }
}


.statler-lg-feature__copy h2 {
  font-family: $wvu-shout;
  text-transform: uppercase;
  color: $wvu-blue;
  font-size:3em;
  margin:0;
  padding-bottom: 25px;
}

.statler-lg-feature__copy p {
    color: $wvu-blue;
}
