


<r:children:each with_template="traveler" limit="1" random="true">
<div class="statler-international <r:site:data name="bgcolor_statler_international" /> background">
<div class="wvu-container statler-international">
<div class="international-photo international-image">
  <r:page:content name="profiles__photo" />
</div> <!-- /.profiles__individual -->

<div class="international-profile">
  <h3><r:page:name /> <span class="pipe transparent">|</span> <span class="profiles__individual-description__country"><r:page:content name="profiles__individual_country" /></span></h3>
  <p><r:page:content name="profiles__individual_lede" /></p>
  <a class="button button--black" href="<r:page:url />">More Info</a>
  </div> <!-- /.profiles__individual-description -->
</div><!-- wvu-container end -->
</div>
</r:children:each>

<r:edit_mode_only>
  <div class="wvu-instructions">
    <p></p></div>
</r:edit_mode_only>
