<ul>
<r:children:each with_template="hero" limit="1" random="true">
<li>
<div class="wvu-hero wvu-hero--<r:site:id /> <r:if value1="{$hero_text_alignment}" value2="right" operator="=">wvu-hero--right</r:if> wvu-hero--big-photo" style="background-image: url(<r:page:content name"statler-hero__bg"><r:file:image_url size="1780x580" /></r:files:each>);">
  <div class="wvu-hero__container wvu-hero__container--vignetting-<r:page:data name="hero_vignetting" />">
    <div class="wvu-hero__copy <r:edit_mode_only>wvu-hero__copy--edit-mode</r:edit_mode_only>">
      <h1><span><r:page:content name="wvu-hero__header" /></span></h1>
      <p><r:page:content name="wvu-hero__text" /></p>
      <r:page:if_has_content_for region="wvu-hero__action-item-url">
        <a href="<r:page:content name="wvu-hero__action-item-url" />" class="button button--white <r:edit_mode_only>button--edit-mode</r:edit_mode_only>"><r:page:content name="wvu-hero__action-item-text" /></a>
      </r:page:if_has_content_for>
      <r:edit_mode_only>
        <p class="button"><r:page:content name="wvu-hero__action-item-text" /></p>
        <p><r:page:content name="wvu-hero__action-item-url" /></p>
      </r:edit_mode_only>
    </div>
  </div>
</div>
</li>
</r:children:each>
</ul>

<r:edit_mode_only>
  <div class="wvu-instructions">
    <p><strong>Instructions for Hero:</strong> This is where you feature your most important content and user action. It requires marketing copy for a headline and brief description, a call to action, and a photo. If you cannot provide all of these items, consider omitting this section. See our <a href="http://brand.wvu.edu/brand-guide/voice">guidelines for marketing copy</a> and <a href="http://brand.wvu.edu/brand-guide/graphic-language/photo">using photos</a>. If you want to use a large background image, upload your own background image. Label the image with the page slug of the page that contains the hero and a &ldquo;-hero-background&rdquo; suffix. For example, if the hero is being used on the Home page, label the photo with &ldquo;home-hero-background&rdquo;.</p>
  </div>
</r:edit_mode_only>
