




<r:set_var name="bgurl">
  <r:page:slug />-hero-background
</r:set_var>

  <div class="wvu-hero wvu-hero--<r:site:id /> <r:if value1="{$hero_text_alignment}" value2="right" operator="=">wvu-hero--right</r:if> wvu-hero--big-photo" style="background-image: url(<r:files:each labels="{$bgurl}" limit="1" types="image" random="true"><r:file:image_url size="1780x580" /></r:files:each>);">
    <div class="wvu-hero__container wvu-hero__container--vignetting-<r:page:data name="hero_vignetting" />">
    <div class="wvu-hero__copy <r:edit_mode_only>wvu-hero__copy--edit-mode</r:edit_mode_only>">
      <h1><span><r:page:content name="wvu-hero__header" /></span></h1>
      <p><r:page:content name="wvu-hero__text" /></p>
      <r:page:if_has_content_for region="wvu-hero__action-item-url">
        <a href="<r:page:content name="wvu-hero__action-item-url" />" class="button button--white <r:edit_mode_only>button--edit-mode</r:edit_mode_only>"><r:page:content name="wvu-hero__action-item-text" /></a>
      </r:page:if_has_content_for>
      <r:edit_mode_only>
        <p class="button"><r:page:content name="wvu-hero__action-item-text" /></p>
        <p><r:page:content name="wvu-hero__action-item-url" /></p>
      </r:edit_mode_only>
    </div>
  </div>
</div>
