<div class="connect-with-us-bottom">
	<div class="statler-container">

	<r:get_page id="{$events_blog_id}">
      <div class="flex-parent no-wrap child-limiter">

        <r:children:each limit="20" random="false" order="asc" >
        <r:if v1="yesterday" v2="{$mmddyyyy}" op="<" type="Date">
        <div class="flex-child event-box">
            <div class="event-date">
            <r:page:data name="day_number" /><br>
            <r:page:data name="month_abbr" />
            </div>
            <div class="event-title">
            <a href="<r:page:url />"><r:page:first_non_blank_attr names="title, name" /></a>
            </div>
        </div>

        </r:if>
        </r:children:each>

      </div>

    <p class="text-center bracket-link"><a href="https://calendar.wvu.edu/site/cemr">[ view more events ]</a></p>

    </r:get_page>

	</div>
</div>
